/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Macondo", cursive;
}

/* grid visualisation CSS for testing */

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
